
@{
    ViewBag.Title = "Cadastro";
}
@model SGF.Models.CadastroDados



<h2>Cadastro</h2>

@using (Html.BeginForm("CadastroFinal", "Home", FormMethod.Post))
{
    <label>Email:</label> @Html.TextBoxFor(m => m.email)<br />
    <label> Nome: </label> @Html.TextBoxFor(m => m.nome)<br />
    <label> Senha:</label> @Html.PasswordFor(m => m.senha)<br />


    <input type="submit" value="Cadastar" />

}

@{ 
    if (Model.errorMessage != null) {
        <script>alert("@Model.errorMessage");</script>
    }

}