#Tabela {
    width: 750px;
    background-color: #eee;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    width: 90px;
    text-align: center;
}

.removerLink:link, .removerLink:visited {
    background-color: white;
    color: black;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 25px;
    
}


.removerLink:hover, .removerLink:active {
    background-color: red;
    color: white;
}

.adicionar:link, .adicionar:visited {
    background-color: white;
    color: black;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 25px;
}


.adicionar:hover, .adicionar:active {
    background-color: #00ff90;
    color: white;
}