#Tabela {
    width: 600px;
    background-color: #eee;
    margin-top: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    width: 90px;
    text-align: center;
}

a {
    color: red;
}

.retornarLink:link, .retornarLink:visited {
    background-color: #00ff90;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}


.retornarLink:hover, .retornarLink:active {
    background-color: red;
}

